.app-header-logo {
    height: 45px;
    float: left;
    margin-top: 10px;
}
.app-header-menu {
    float: left;
    border-bottom: none !important;
    margin-left: 20px !important;
    line-height:62px !important;
    
}